extends layout

block content
  #main.index
    each article in articles
      .article
        .author
          .date(title="#{(new Date(article.mtime)).toLocaleString()}") #{(new Date(article.mtime)).toLocaleDateString()}
        h3
          a(href="#{urlPrefix}/#{article.category}/#{article.slug}") #{article.title}
        !{article.excerpt}
        a.more(href="#{urlPrefix}/#{article.category}/#{article.slug}") Read more...

block sidebar
  .aside
    h4 About the Author
    img(src="http://www.gravatar.com/avatar/67711a650e4f7e226567fb830e9330d8.png?s=140", style="float: right;")
    dl
      dt Name:
      dd Sean Soong
    dl
      dt Github:
      dd
         a(href="http://github.com/seansoong") seansoong
    dl
      dt Location:
      dd Auckland, New Zealand
